
  nav{

    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    // right: 0px;
    right: 10px;
    top: 30.5%;
    z-index: 12;
    gap: 90px;
  
    section{
      display: flex;
      flex-direction: row;
      z-index: 11;
      place-items: center;
      cursor: pointer;
      div{
        width: 160px;
        height: 1px;
        background-color: black;
      }
      p{
        display: none;
      }
    }
    #hm{
      p, div {
        transition: transform 0.3s ease, width 0.3s ease; /* Add transition for smoothness */
      }
      height: 40px;
      &:hover{
        p{
          transform: translateX(-120px);
          display: inline;
        }
        div{
          transform: translateX(-30px);
          width: 50px;
        }
  
      }
    }
    #ab{
      p, div {
        transition: transform 0.3s ease, width 0.3s ease; /* Add transition for smoothness */
      }
      height: 40px;
      &:hover{
        p{
          transform: translateX(-120px);
        }
        div{
          transform: translateX(-30px);
          width: 50px;
        }
        
      }
    }
    #sk{
      p, div {
        transition: transform 0.3s ease, width 0.3s ease; /* Add transition for smoothness */
      }
      height: 40px;
      &:hover{
        p{
          transform: translateX(-120px);
        }
        div{
          transform: translateX(-30px);
          width: 50px;
        }
        
      }
    }
    #so{
      p, div {
        transition: transform 0.3s ease, width 0.3s ease; /* Add transition for smoothness */
      }
      height: 40px;
      &:hover{
        p{
          transform: translateX(-120px);
        }
        div{
          transform: translateX(-30px);
          width: 50px;
        }
        
      }
    }
  
    
    
  }
  .animation{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 90px;
    position: fixed;
    right: 2%;
    top: 30%;
    z-index: 11;
  
    section{
      width: 40px;
      height: 40px;
      background-color: black;
      display: grid;
      place-items: center;
  
      #vrt{
        background-color: black;
        width: 1px;
        height: 160px;
        transform: rotate(90);
        z-index: 2;
        
      }
     
      
  
    }
    
    
  }


  @media (min-width: 2560px) {

      nav{

       
        top: 30.5%;
        right: 2%;
        // overflow: hidden;
  
      
        section{
          // background-color: rgb(28, 233, 233);
          width: 92%;
          overflow: hidden;
          background-color: aqua;
          display: flex;
          flex-direction: row;
          z-index: 11;
          place-items: center;
          cursor: pointer;
          div{
            width: 160px;
            height: 1px;
            background-color: black;
          }
          p{
            display: none;
          }
        }
        #hm{
         
          p, div {
            transition: transform 0.3s ease, width 0.3s ease; /* Add transition for smoothness */
          }
          height: 40px;
          &:hover{
            p{
              transform: translateX(-70px);
              display: inline;
            }
            div{
              transform: translateX(45px);
              width: 70px;
            }
      
          }
        }
        #ab{
          p, div {
            transition: transform 0.3s ease, width 0.3s ease; /* Add transition for smoothness */
          }
          height: 40px;
          &:hover{
            p{
              transform: translateX(-70px);
              display: inline;
            }
            div{
              transform: translateX(45px);
              width: 70px;
            }
            
          }
        }
        #sk{
          p, div {
            transition: transform 0.3s ease, width 0.3s ease; /* Add transition for smoothness */
          }
          height: 40px;
          &:hover{
            p{
              transform: translateX(-70px);
              display: inline;
            }
            div{
              transform: translateX(45px);
              width: 70px;
            }
            
          }
        }
        #so{
          p, div {
            transition: transform 0.3s ease, width 0.3s ease; /* Add transition for smoothness */
          }
          height: 40px;
          &:hover{
            p{
              transform: translateX(-70px);
              display: inline;
            }
            div{
              transform: translateX(45px);
              width: 70px;
            }
            
          }
        }
      
        
        
      }
      .animation{
        display: flex;
        flex-direction: column;
        gap: 90px;
        position: fixed;
        right: 3%;
        top: 30%;
        z-index: 11;
      
        section{
          width: 40px;
          height: 40px;
          background-color: black;
          display: grid;
          place-items: center;
      
          #vrt{
            background-color: black;
            width: 1px;
            height: 160px;
            transform: rotate(90);
            z-index: 2;
            
          }
         
          
      
        }
        
        
      }
    }
