<div class="designs">
    <section id="content">
        <p id="header">GamePalace</p>
        <p id="reel">This app focuses on achieving gamer's dream by streaming,tournaments and live chats with friends all over the world</p>
        <section id="stack">
            <p id="ss">Stack:</p>
            <p>Figma</p>
        </section>

        
    </section>
    <section id="images">
        <img src="https://images2.alphacoders.com/564/thumbbig-564835.webp" alt="">
    <img src="https://images.alphacoders.com/605/thumbbig-605592.webp" alt="">
    <img src="https://images.alphacoders.com/131/thumbbig-1311951.webp" alt="">
    <img src="https://images5.alphacoders.com/481/thumbbig-481903.webp" alt="">
    <img src="https://images2.alphacoders.com/516/thumbbig-516664.webp" alt="">
    <img src="https://images8.alphacoders.com/533/thumbbig-533007.webp" alt="">
    </section>
</div>
<div class="designs">
    <section id="content">
        <p id="header">GamePalace</p>
        <p id="reel">This app focuses on achieving gamer's dream by streaming,tournaments and live chats with friends all over the world</p>
        <section id="stack">
            <p id="ss">Stack:</p>
            <p>Figma</p>
        </section>

        
    </section>
    <section id="images">
        <img src="https://images2.alphacoders.com/564/thumbbig-564835.webp" alt="">
    <img src="https://images.alphacoders.com/605/thumbbig-605592.webp" alt="">
    <img src="https://images.alphacoders.com/131/thumbbig-1311951.webp" alt="">
    <img src="https://images5.alphacoders.com/481/thumbbig-481903.webp" alt="">
    <img src="https://images2.alphacoders.com/516/thumbbig-516664.webp" alt="">
    <img src="https://images8.alphacoders.com/533/thumbbig-533007.webp" alt="">
    </section>
</div>
