<!-- gamepalace user -->
    <div class="designs">
        <section id="content">
            <p id="header">GamePalace(User)</p>
            <p id="reel">This app focuses on achieving gamer's dream by streaming,tournaments and live chats with friends all over the world</p>
            <section id="stack">
                <p id="ss">Stack:</p>
                <p>Figma</p>
            </section>
    
            
        </section>
        <section id="images">
           <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/home-page.png?alt=media&token=7b79d2dc-02dd-47a2-8f05-6d29ae48b04e" alt="">
           <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/home-page2.png?alt=media&token=34cd19bd-951f-49a3-9809-aaa136b2b3fb" alt="">
           <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/dashboard--page.png?alt=media&token=f6d2d66c-dcfd-4b6e-8e80-66f072b4f830" alt="">
           <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/news.png?alt=media&token=1643e26f-71b5-4b48-979b-b3270c435ddf" alt="">
           <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/profile.png?alt=media&token=b824a79b-229f-4505-851f-adab3f21b41e" alt="">
           <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/payments-page.png?alt=media&token=e3546033-8b79-4c65-9534-07688cc80cd8" alt="">
        
        </section>
    </div>
    <!-- game palace tournament -->
    <div class="designs">
        <section id="content">
            <p id="header">GamePalace(Tournament)</p>
            <p id="reel">This app focuses on achieving gamer's dream by streaming,tournaments and live chats with friends all over the world</p>
            <section id="stack">
                <p id="ss">Stack:</p>
                <p>Figma</p>
            </section>
    
            
        </section>
        <section id="images">
        <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/tournament(1).png?alt=media&token=8e11dc65-b0ec-483e-b1e9-549957d8a17e" alt="">
        <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/Tournament(4).png?alt=media&token=25b74931-5404-4f34-ad6a-31ecc81290e3" alt="">
        <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/tournament(3).png?alt=media&token=c5a6b53f-146a-421a-a896-fe8059d6b7e1" alt="">
        <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/tournament(2).png?alt=media&token=0caa76a0-1fab-4e4d-9c08-0164f5195060" alt="">
        <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/Tournament(6).png?alt=media&token=2ad86058-7929-4065-abee-8a274e312111" alt="">
        
        </section>
    </div>

    <!-- my portoflios -->
    <div class="designs">
        <section id="content">
            <p id="header">Portfolio(past)</p>
            <p id="reel">Throughout my design and development career, I have successfully completed two distinctive protfolios, each reflecting my commitment to creativity and technical excellence.</p>
            <section id="stack">
                <p id="ss">Stack:</p>
                <p>Canva</p>
            </section>

        </section>
        <section id="images">
         <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/prv-portfolio(1).png?alt=media&token=f9bf0d32-6106-4251-804b-e1a06995edf3" alt="">
         <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/prv-portfolio(2).png?alt=media&token=43fce47f-de62-4fec-84e8-72a760fe6554" alt="">
         <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/prv-portfolio(3).png?alt=media&token=255e3c2e-5ce3-4034-a104-72084b565734" alt="">
         <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/prv-portfolio(4).png?alt=media&token=445adac9-1e87-40c0-826e-2b6b71691d98" alt="">

        </section>
    </div>



