$p-font-size: 1rem;
$p-letter-spacing: 0.1em;

$p-font-size-small: 1rem;
$p-letter-spacing-small: 0.03em;
#about{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 105vh;
    gap: 20px;
    position: relative;
    padding: 20px;



    .header{
        display: flex;
        flex-direction: row;
        margin: 4% 0 0 5%;
        width: 90%;
        height: max-content;
        gap: 10%;
        place-items: center;



        #display{
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 2px;
           
            

            #dip{
                
                display: flex;
                flex-direction: row;
                //  align-items: flex-end;
                
                 
                

                h3{
                    color: #FF800B;
                    font-weight: 400;
                    padding-right: 60px;
                    margin-bottom: 10px; 
                    
        
                }
                h1{
                    color:#B0B0B0;
                    font-size: 3rem;
                    font-weight: Bold;
                    line-height: 4rem;
    
                }
            }

            
            // #case{
            //     align-self: flex-start;
            //     color:#B0B0B0;
            //         font-size: 3rem;
            //         font-weight: Bold;
            //         line-height: 4rem;
                    

            // }
        }
        #abt{
          
            p {
                color: #5d5d5d;
                font-weight: 100;
                font-size: $p-font-size;
                letter-spacing: $p-letter-spacing;
              
                
            }
        }


    }
    .content{
        width: 82%;
        height: max-content;
        margin: 5% 0 0 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
        

        button {
            margin-right: auto; 
            transform: rotate(-90deg);
            background-color: transparent;
            border: none;
            transition: transform 0.3s ease;
            right: 0;
            
            span{
                font-size: 1.62rem;
                font-weight: 200;
            }
          }
        p{
            font-weight: 200;
            color: #FF800B;
            font-size: 1.6rem;
            filter: blur(0.8px);
            margin: 0;
            font-style: italic;
        }
          .rotated {
            transform: rotate(90deg);
          }

        
    }
    #work {
        width: 90%;
    height: 80vh;
    margin-left: 5%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Allow vertical scrollbar */
    display: flex;
    flex-direction: column;
   

    ::-webkit-scrollbar {
        display: none; 
    }

    /* Firefox */
    scrollbar-width: none; 
}

    

}
@media (max-width:1610px) {
    .header{
        display: flex;
        flex-direction: row;
        margin: 4% 0 0 5%;
        width: 90%;
        height: max-content;
        gap: 20%;
        place-items: center;
    


        #display{
            display: flex;
            flex-direction: column;
            width: auto;
            gap: 2px;
          
            
            

            #dip{
                
                display: flex;
                flex-direction: row;
                //  align-items: flex-end;
                
                 
                

                h3{
                    color: #FF800B;
                    font-weight: 400;
                    padding-right: 60px;
                    margin-bottom: 10px; 
                    
        
                }
                h1{
                    color:#B0B0B0;
                    font-size: 2rem;
                    font-weight: Bold;
                    line-height: 4rem;
    
                }
            }

            
           
        }}
}

@media (max-width:1300px) {
    #about{
       
        margin: 20% 0 0 0;
    .header{
        width: 80%;
        height: max-content;
        gap: 20%;
        place-items: center;
        
    

}
}
}
@media (max-width:830px) {
    #about{
        
        margin: 40% 0 0 0;
        width: 90%;
    
}
}
@media (max-width:800px) {
    #about{
        margin: 50% 0 0 0;
        width: 90%;
       
    
}
}