<div class="design">
  <section id="content">
      <p id="header">GamePalace</p>
      <p id="reel">This app focuses on achieving gamer's dream by streaming,tournaments and live chats with friends all over the world</p>
      <section id="stack">
          <p id="ss">Stack:</p>
          <p>Angular|Scss|TypeScript</p>
      </section>
      <section id="stk">
        <p >
          <a href="https://github.com/afrikhana/Quantum">Code</a>
          <img [src]="getImageUrl('github')" alt="abys"></p>
        <p>Live Demo <img [src]="getImageUrl('live')" alt="abys">X</p>
    </section>
      
  </section>
  <section id="images">
      <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/Screenshot%20from%202024-08-27%2013-18-42.png?alt=media&token=aa5bcec0-eadb-4738-935b-5b27187431f4" alt="">
  </section>
</div>

<div class="design">
  <section id="content">
      <p id="header">The Nomad(1st application)</p>
      <p id="reel">This Gallery application beautifully showcases the artistry and achievements of a talented photographer. Designed to captivate and inspire, it offers a space where viewers can immerse themselves in the comfort and joy of visual storytelling.</p>
      <section id="stack">
          <p id="ss">Stack:</p>
          <p>React|Javascript|Scss</p>
      </section>
      <section id="stk">
        <p>
          <a href="https://github.com/afrikhana/project2/tree/master">Code</a>
          <img [src]="getImageUrl('github')" alt="abys">
      </p>
      
        <p>Live Demo <img [src]="getImageUrl('live')" alt="abys">X</p>
    </section>
      
  </section>
  <section id="images">
      <img src="https://firebasestorage.googleapis.com/v0/b/afrikhana-65fc0.appspot.com/o/Screenshot%20from%202024-08-27%2014-00-41.png?alt=media&token=eb9934b5-53cb-4cd3-b2cc-1447beba7297" alt="">
  </section>
</div>



