<div class="design">
  <section id="content">
      <p id="header">GamePalace</p>
      <p id="reel">This app focuses on achieving gamer's dream by streaming,tournaments and live chats with friends all over the world</p>
      <section id="stack">
          <p id="ss">Stack:</p>
          <p>Figma</p>
      </section>
      <section id="stk">
        <p>Code <img [src]="getImageUrl('github')" alt="abys"></p>
        <p>Live Demo <img [src]="getImageUrl('live')" alt="abys"></p>
    </section>
      
  </section>
  <section id="images">
      <img src="https://images2.alphacoders.com/564/thumbbig-564835.webp" alt="">
  </section>
</div>

<div class="design">
  <section id="content">
      <p id="header">GamePalace</p>
      <p id="reel">This app focuses on achieving gamer's dream by streaming,tournaments and live chats with friends all over the world</p>
      <section id="stack">
          <p id="ss">Stack:</p>
          <p>Figma</p>
      </section>
      <section id="stk">
        <p>Code <img [src]="getImageUrl('github')" alt="abys"></p>
        <p>Live Demo <img [src]="getImageUrl('live')" alt="abys"></p>
    </section>
      
  </section>
  <section id="images">
      <img src="https://images2.alphacoders.com/564/thumbbig-564835.webp" alt="">
  </section>
</div>



