.design {
    width: 90%;
        height: 60%;
        display: flex;
        flex-direction: row;
        gap: 12%;
        margin:0 0 0 10%;
        padding: 2px;
      
  
    

    #content{
        display: flex;
            flex-direction: column;
            gap: 7%;
            width: 30%;
            margin: 40px 0 0 0 ;
            height: auto;
        p{
            font-size: clamp(0.8rem,1.4vw,1.6rem);
            line-height: clamp(1rem,1.8vw,2rem);
            color: #5D5D5D;
        }
        #header{
            font-weight: bolder;
            color: #5D5D5D;
            font-style: normal;
            
        }
        #reel{
            font-weight: 200;
            color: #5D5D5D;
        }
        

        #stack{
            display: flex;
            flex-direction: row;
            gap: 2%;
            font-weight: 800;
            p{
                font-size: clamp(0.8rem,1.4vw,1.6rem);
            }

            #ss{
                color: #FF800B;
                font-weight: 800;
            }
        }
        #stk{
            font-weight: 800;
            display: flex;
            flex-direction: row;
            gap: 60px;
            cursor: pointer;
           

            p{
                display: flex;
                place-items: center;
                gap: 10px;
                font-size: clamp(0.6rem,1.1vw,1.6rem);
               

            }
            a{
                text-decoration: none;
                color: #5D5D5D;
            }

            img{
                width: 40px;
                height: 40px;
            }
        }
        
    }
    

    #images {
        width: max-content;
        max-width: 100%;
        height: auto;
        align-items: center;
        overflow-x: hidden;
        border-radius: 20px;
        // gap: 5px;
       
        box-shadow: transparent;
        // padding: 10px; /* Adjust padding as needed */
       
    
        img {
            width: clamp(60%,100%,100%);
            max-width: clamp(200px,400vw,700px);
            height: auto;
            object-fit: cover;
            border-radius: 20px 20px ;
            // padding-top: 5%;
            margin: 5% 0 0 0;

            &:hover {
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
                z-index: 1;
            }
        }
    }
    
   
}
@media (max-width: 1300px) {
    .design {
        width: 80%;
    height: 50%;
    padding: 2px;
  
    gap: 40px;
    margin:0 0 0 5%;

        #content {
            gap: 45px;
            width: 30%;
            margin: 40px 0 0 0 ;
            height: max-content;
            #images {
                width: 80%;
                img {
                    width: clamp(30%,80%,80%);
                    max-width: clamp(200px,500vw,600px);
                    height: auto;
                    object-fit: cover;
                    margin: 3% 0 0 0;
                    
                }
            }
        }
    }
}