.design {
    width: 90%;
        height: 70%;
        padding: 2px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin:0 0 0 10%;
  
    

    #content{
        display: flex;
            flex-direction: column;
            gap: 45px;
            width: 30%;
            margin: 40px 0 0 0 ;
            height: max-content;
        p{
            font-size: clamp(1rem,1.4vw,1.6rem);
            line-height: 2rem;
            color: #5D5D5D;
        }
        #header{
            font-weight: bolder;
            color: #5D5D5D;
            font-style: normal;
            
        }
        #reel{
            font-weight: 200;
            color: #5D5D5D;
        }
        

        #stack{
            display: flex;
            flex-direction: row;
            gap: 20px;
            font-weight: 800;
            p{
                font-size: clamp(1rem,1.4vw,1.6rem);
            }

            #ss{
                color: #FF800B;
                font-weight: 800;
            }
        }
        #stk{
            font-weight: 800;
            display: flex;
            flex-direction: row;
            gap: 60px;
            cursor: pointer;

            p{
                display: flex;
                place-items: center;
                gap: 10px;
                font-size: clamp(1rem,1.4vw,1.6rem);
               

            }
            a{
                text-decoration: none;
                color: #5D5D5D;
            }

            img{
                width: 40px;
                height: 40px;
            }
        }
        
    }
    

    #images {
        width: max-content;
        max-width: 100%;
        height: auto;
        place-content: center;
        overflow-x: hidden;
        border-radius: 10px;
        // gap: 5px;
        background-color: transparent;
        box-shadow: transparent;
        padding: 10px; /* Adjust padding as needed */
    
        // &:hover {
        //     box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
        //     z-index: 1;
        // }
    
        img {
            width: 100%;
            max-width: 600px;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    
    @media (max-width: 1311px) {
        .design {
            width: 80%;
        height: 50%;
        padding: 2px;
      
        gap: 40px;
        margin:0 0 0 5%;
    
            #content {
                gap: 45px;
                width: 30%;
                margin: 40px 0 0 0 ;
                height: max-content;
                #images {
                    img {
                        width: 100%;
                        max-width: 200px;
                        height: auto;
                        
                    }
                }
            }
        }
    }
}