#home{
   position: relative;
   width: 100%;
   height: 105vh;
   display: flex;
   flex-direction: column;
   z-index: 1;
   font-family: "Open Sans", sans-serif;

   #content{
    display: flex;
    flex-direction: column;
    width: 90%;
    position: absolute;
    left: 2%;
    height:100vh;
    gap: 20px;
    

    #cn1{
        margin:6% 0 0 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 5rem;
        
        h2{
            // position: absolute;
            color:#B0B0B0;
            font-size: 2rem;
            font-weight:100;
            
        }

        h3{
            padding-top: 2rem;
            color:#5D5D5D;
        font-weight: 370;
        font-size: 13rem;
        }
        #web{
        line-height: 10rem;
        margin: 0 0 0 5%;
        }

        #veiw{
            display: flex;
            flex-direction: row;
            margin: 0 0 0 23%;
            gap: 5%;


            #and{
                color: #FF800B;
                font-weight: 100;
            }
        }
        #dev{
            margin: 0 0 0 10%;
            line-height: 8rem;
        }

    }

    

    #cn2{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 5% 0 0 0;

        #class{
            color: #FF800B;
            font-size: 3rem;
            font-weight:Bold;
        }
        h3{
            color:#B0B0B0;
            font-size: 3rem;
            font-weight: Bold;
        }
        #brackets{
            color: #FF800B;
            font-size: 3rem;
            font-weight:Bold;
    
        }
       }

       #footer{
        display: flex;
        flex-direction: row;
        padding-top: 3%;
        color: #5D5D5D;
        width: 100%;
        height: auto;
        gap: 83%;
    
    
        button{
            margin: 0 0 0 2%;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: 1px solid #5D5D5D;
            display: grid;
            justify-content: center;
            place-items: center;
            border-radius: 10px;
    
            span{
                font-size: 20px;
                color: #5D5D5D;
            }
        }
        
       }

    
   }
   

   
}
@media (min-width: 2560px) {
    #home{
        #content{
            position: relative;
            gap: 50px;
            width: 95%;
         
           
            

            #cn1{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                // gap: 10rem;
              
                h2{
                    font-size: 2.8rem;
                   
                }
                h3{
                    
                    font-size: 14.5rem;
                    line-height: 12rem;
                   
                }

                
            }
            #cn2{
                
                h3{
                    font-size: 3rem;
                   
                }
                #class{
                    font-size: 3rem;
                }
                #brackets{
                    font-size: 3rem;
                }

                
            }
            #footer{
                position: absolute;
                bottom: 0;
                gap: 80%;
                width: 100%;


                
                button{
                    width: 60px;
                    height:60px;
                    border-radius: 20px;
                    span{
                        font-size: 2rem;
                    }
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                }
            }
        }
    }
   
}
@media (max-width: 1403px) {
    #home{
        #content{
           
            

            #cn1{
                width: auto;
                height: auto;
                h2{
                    font-size: 1.6rem;
                }
                h3{
                    font-size: 9.5rem;
                }

                
            }
            #cn2{
                #class{
                    font-size: 2rem;
                    font-weight: 500;
                }
                #brackets{
                    font-size: 2rem;
                    font-weight: 500;
                }
                h3{
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
            #footer{
                gap: 65%;
                bottom: 30px;
            }
        }
    }
   
}
@media (max-width: 1295px) {
    #home{
        height: 60vh;
        #content{
            
            

            #cn1{
                width: auto;
                height: auto;
                h2{
                    font-size: 1.4rem;
                }
                h3{
                    font-size: 8.5rem;
                }

                
            }
        }
    }
   
}
@media (max-width: 1171px) {
    #home{
        
        #content{
            
            
            

            #cn1{
                width: auto;
                height: auto;
                h2{
                    font-size: 1.4rem;
                }
                h3{
                    font-size: 6.5rem;
                    
                }

                
            }
        }
    }
   
}
@media (max-width: 1171px) {
    #home{
        #content{
           
            

            #cn1{
                width: auto;
                height: auto;
                h2{
                    font-size: 1.4rem;
                }
                h3{
                    font-size: 6.5rem;
                    
                }

                
            }
        }
    }
   
}
@media (max-width: 805px) {
    #home{
      
        #content {
            margin: 8% 0 0 0;
            margin-left: 0;
            align-items: center;
            
            #cn1 {
              text-align: center;
              
              h3 {
                font-size: 6rem;
                
                &.small {
                  font-size: 3.5rem;
                }
              }
              
              #web, #veiw, #dev {
                margin-left: 0;
              }
              
              #veiw {
                flex-direction: column;
                gap: 0;
              }
            }
            
            #cn2 {
              flex-direction: column;
              align-items: center;
              gap: 5px;
              
              #class, h3, #brackets {
                font-size: 2rem;
              }
            }
          }
          
          #footer {
            gap: 43%;
          }
        }
    
   
}
@media (max-width: 631px) {
    #home{
      
        #content {
            margin: 8% 0 0 0;
            margin-left: 0;
            align-items: center;
            position: relative;
            
            #cn1 {
              text-align: center;
              
              h3 {
                font-size: 6rem;
                
                &.small {
                  font-size: 3.5rem;
                }
              }
              
              #web, #veiw, #dev {
                margin-left: 0;
              }
              
              #veiw {
                flex-direction: column;
                gap: 0;
              }
            }
            
            #cn2 {
              flex-direction: column;
              align-items: center;
              gap: 5px;
              
              #class, h3, #brackets {
                font-size: 2rem;
              }
            }
          }
          
          #footer {
            gap: 43%;
          }
        }
    
   
}