<div class="display">
    <div class="gmail">
        <div id="details">
            <div class="form-group group1">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Jhon Doe">
            </div>
            <div class="form-group group2">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="j.c@gmail.com">
            </div>
            <div class="form-group group3">
                <label for="services">Services</label>
                <input type="text" id="services" placeholder="Design, Development etc">
            </div>
            <div class="form-group group4">
                <label for="budget">Budget</label>
                <input type="text" id="budget" placeholder="$600">
            </div>
            <div class="form-group group5">
                <label for="details">Project Details</label>
                <input type="text" id="detail" placeholder="Brief project detail">
            </div>
        </div>
    </div>
    <div class="header">
        <section id='dip'>
            <h3>Work</h3>
            <h1>Section To Show <br/>Case Offered Services</h1>
          </section>
          <section id="time">
            <p>Local Time</p>
            <P>,GMT+3</P>
          </section>
    </div>
    <div class="footer"></div>
    
</div>