<div class="display">
    <form (submit)="send()" action="javascript:void(0)" class="gmail">
        <div [formGroup]="form" id="details" >
            <div class="form-group group1">
                <label for="name">Name</label>
                <input formControlName="from_name" type="text" id="name" placeholder="Jhon Doe">
            </div>
            <div class="form-group group2">
                <label for="email">Email</label>
                <input formControlName="from_email" type="text" id="email" placeholder="j.c@gmail.com">
            </div>
            <div class="form-group group3">
                <label for="services">Services</label>
                <input formControlName="service" type="text" id="services" placeholder="Design, Development etc">
            </div>
            <div class="form-group group4">
                <label for="budget">Budget</label>
                <input formControlName="budget" type="text" id="budget" placeholder="$600">
            </div>
            <div class="form-group group5">
                <label for="detail">Project Details</label>
                <input formControlName="message" type="text" id="detail" placeholder="Brief project detail">
            </div>
            <div class="group6">
                <input formControlName="check" type="checkbox" id="check">
                <label  for="check">By submitting this form you agree with the term and conditions</label>
            </div>
           
        </div>
        <button type="submit" class="group7" [disabled]="isSubmitting">Send
            <span class="material-symbols-outlined">
                arrow_cool_down
              </span>
        </button>
        
    </form>
    <div class="header">
        <section id='dip'>
            <h3>Contacts</h3>
            <h1>Feel free to reach out.<br/>I'd love to work with</h1>
          </section>
          <section id="time">
            <p>Local Time</p>
            <P><span>{{ localTime }}</span>,GMT+3</P>
          </section>
    </div>
    <div class="footer">
        <div id="links">
                    <p id="f">Find me:</p>
                    <section>
                        <p><a href="https://www.linkedin.com/in/brian-murigi-831473283/">LINKED-IN</a></p>
                        <p><a href="https://github.com/afrikhana">GIT-HUB</a></p>
                        <p><a href="https://www.upwork.com/freelancers/~0101513992107aae94?viewMode=1">UPWORK</a></p>
                    </section>
        </div>
        <div class="underline"></div>
        
    </div>
   
    
    
</div>