<div class="services">
    <section>
        <div id="ui">
            <h1>I</h1>
           <section>
            <h2>UI/UX</h2>
            <p>Web design/Mobile design/Logo & Poster design</p>
           </section>
           <img [src]="ui" alt="">
        </div>
        <div id="web">
            <h1>II</h1>
            <section>
                <h2>WEB DEV</h2>
            <p>Full-Stack web development<span>{{ arch }}</span></p>
            </section>
            <img [src]="architect" alt="">
        </div>
        <div id="analysis">
            <h1>III</h1>
            <section>
                <h2>Analyst</h2>
            <p>SDLC analysis/project managment research</p>
            </section>
            <img [src]="analysis" alt="">
        </div>
        <div id="support">
            <h1>IV</h1>
            <section>
                <h2>Support</h2>
            <p>Contribution to help early learn or projects in development that neds a structure</p>
            </section>
            <img [src]="sup" alt="">
        </div>
    </section>
</div>