.services{
  width: 90%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0 0 5%;
  

  section{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      width: 100%;
      
      
      div{
          width: 29%;
          height: clamp(13vh,30vw,30vh);
          border-radius: 20px;
          border: 0.8px solid #454545;
          display: flex;
          flex-direction: column;
          gap: 50%;
          padding: 10px;
          font-family: "Gideon Roman", serif;
          transition: background-color 400ms ease-out, transform 400ms ease-out;

          h1{
              color: #B0B0B0;
              font-size: clamp(0.8rem,2vw,3rem);
              font-weight: 200;

          }
          
          section{
              display: flex;
              flex-direction: column;
              width: 100%;
              height: min-content;
              gap: 0.3%;
            

              h2{
                color: #5D5D5D;
                font-size: clamp(0.8rem,2vw,3rem);
                font-weight: 200;
            }
            p{
                color: #B0B0B0;
                font-size: clamp(0.6rem,1.1vw,1.2rem);
                font-weight: 300;
            }
          }

          &:hover{
              background-color: #D9D9D9;
              
              opacity: 2;
              border: 0.8px solid #B0B0B0;

              h1{
                  color: #FF800B;
              }
          }


      }
      
     
        }

        #web {
          position: relative;
         

          img{
              position: absolute;
              width: auto;
              height: 38%;
              object-fit: cover;
              opacity: 0;
              transition: opacity 400ms ease-out;
              right: 20px;
              top: 30%;

          }
          &:hover{
            p {
              span {
                color: #FF800B;
                opacity: 1;
              }
            }
          
              img{
                  opacity: 1;
              }
          }
          }
        
        #ui{
          position: relative;
        

          img{
              position: absolute;
              width: auto;
              height: auto;
              object-fit: contain;
              opacity: 0;
              transition: opacity 400ms ease-out;
              right: 0;
              top: 0;

          }
          &:hover{
              img{
                  opacity: 1;
              }
          }
        }
        #analysis{
          position: relative;
          overflow: hidden;
          
          img{
              position: absolute;
              height: auto;
              max-width: 80%;
              left: 10%;
              top: 18%;
              object-fit: contain;
              opacity: 0;
              transition: opacity 400ms ease-out;
          }
          &:hover{
              img{
                  opacity: 1;
              }
          }
        }
        #support{
          position: relative;
          width: 56%;
          overflow: hidden;

          #mark{
              position: absolute;
              width: auto;
              height: auto;
              object-fit: contain;
              bottom: 12%;
              right: 10%;
              max-width: clamp(3.5rem, 18vw, 15rem);
            
              opacity: 0;
              transition: opacity 400ms ease-out;

          }
          #todo{
            position: absolute;
            width: auto;
            height: auto;
            max-width: clamp(3.5rem, 18vw, 15rem);
            object-fit: contain;
            bottom: 35%;
            right: 30%;
           
            opacity: 0;
            transform: rotate(-15deg);
            transition: opacity 500ms ease-out;

        }
          &:hover{
              #mark, #todo{
                  opacity: 1
              };
          }
        }

  }