$p-font-size: 1rem;
$p-letter-spacing: 0.1em;

$p-font-size-small: 1rem;
$p-letter-spacing-small: 0.03em;
#socials{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 105vh;
    gap: 20px;
    position: relative;
    padding: 20px;

    .header{
        display: flex;
        flex-direction: row;
        margin: 4% 0 0 5%;
        width: 90%;
        height: max-content;
        gap: 10%;
        place-items: center;

        #display{
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 2px;
            

            #dip{
                display: flex;
                flex-direction: row;
                 
                

                h3{
                    color: #FF800B;
                    font-weight: 400;
                    padding-right: 60px;
                    margin-bottom: 10px; 
                    
        
                }
                h1{
                    color:#B0B0B0;
                    font-size: clamp(2rem,2.7vw,3rem);
                    font-weight: Bold;
                    line-height: 4rem;
    
    
                }
            }

            
            #case{
                align-self: flex-start;
                color:#B0B0B0;
                font-size: clamp(1.5rem,2.5vw,3rem);
                    font-weight: Bold;
            }
        }
        #abt{
            p {
                color: #5d5d5d;
                font-weight: 100;
                font-size: $p-font-size;
                letter-spacing: $p-letter-spacing;
              
                @media screen and (max-width: 768px) {
                  font-size: $p-font-size-small;
                  letter-spacing: $p-letter-spacing-small;
                }
            }
        }

    }

    
}