#skills{
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: row;

    .count{
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: max-content;
        height: 10rem;
        margin: 30% 0 0 8%;

        h1{
            font-size: 1rem;
            font-family: 'Crimson Pro', serif;
            position: absolute;
            opacity: 60%;
            text-decoration: underline;
        }

        p{
            font-size: 3rem;
            font-family: 'Crimson Pro', serif;
            background-image: linear-gradient(to right, #dfdae3,black);
            color: transparent;
            background-clip: text;
            padding-top: 30px;
        }
        #min{
            font-size: 1rem;
        }
        #sec{
            font-size: 1rem;
        }
    }

    .content1{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 60vh;
        margin: 16% 0 0 8%;
        h2{
            position: absolute;
            z-index: 3;
            font-family: 'Dancing Script', cursive;
            font-size: 3rem;
            font-weight: lighter;
            line-height: 3rem;
            transform: rotate(-25deg);
            background-image: linear-gradient(to right,#f4ceff,#851494);
            color: transparent;
            background-clip: text;
        }
        h1{
            font-family: 'Crimson Pro', serif;
            z-index: 2;
            font-weight: 1000;
            margin-top: 5px;
            font-size: 3rem;
            position: absolute;
            line-height: 8.5rem;
            background-image: linear-gradient(to right, #dfdae3,black);
            color: transparent;
            background-clip: text;
        }
        p{
            
            font-family: 'Ysabeau SC', sans-serif;
            margin-top: 6.5rem;
            font-size: 1.4rem;
            text-align: justify;
            line-height: 2.2rem;
            font-weight: 800;
        }
    }
    .content2{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #fff4ec;
        width: 50%;
        height: 105vh;
        right: 0;
        
        #front{
            position: absolute;
            width: 100%;
            height: 50vh;
            overflow: hidden;
            top: 1%;

                .scroll{
                    display: flex;
                    position: absolute;
                    width: max-content;
                    margin: 16% 0 0 20%;
                    height: 30vh;
                    gap: 10%;
                    animation: slide 10s linear infinite;
                  
                    img{
                        z-index: 1;
                        width: 150px;
                        height: 250px;
                        object-fit: cover;
                        margin-left: 3%;
                    }
                    .photo-c{
                     position: absolute;
                     display: flex;
                     width: 165%;
                     flex-direction: row;
                     bottom: 0;
                     z-index: 2;
                     gap: 12%;
                     margin-top: 10%;
                        p{
                            
                            font-size: 2rem;
                        font-family: 'Dancing Script', cursive;
                        background-image: linear-gradient(to right,#f4ceff,#851494);
                        color: transparent;
                        background-clip: text;
                        
                    }
                    }
                    @keyframes slide{
                        0% {
                            transform: translateX(0);
                            animation-timing-function: ease-in;
                            animation-fill-mode: forwards;
                        }
                        100%{
                            transform: translateX(-100%);
                        }
                    }
            
            }
            h1{
                position: absolute;
                z-index: 2;
                font-family: 'Italianno', cursive;
                font-size: 8rem;
                font-weight: lighter;
                line-height: 3rem;
                color: black;
                margin: 3.5% 0 0 2%;
            }
        }
        #back{
            position: absolute;
            top: 55%;
            width: 100%;
            height: 50vh;
            overflow: hidden;
            .scroll1{
                display: flex;
                position: absolute;
                width: max-content;
                margin: 15% 0 0 20%;
                height: 30vh;
                gap: 15%;
                animation: slide 10s linear infinite;
                .photo-c{
                    position: absolute;
                    display: flex;
                    width: 165%;
                    flex-direction: row;
                    bottom: 0;
                    z-index: 2;
                    gap: 16%;
                    margin-top: 10%;
                       p{
                           
                           font-size: 2rem;
                       font-family: 'Dancing Script', cursive;
                       background-image: linear-gradient(to right,#f4ceff,#851494);
                       color: transparent;
                       background-clip: text;
                       
                   }}
            img{
                z-index: 1;
                width: 150px;
                height: 250px;
                object-fit: cover;
                margin-left: 3%;
            }
            
        }
        h1{
            position: absolute;
            margin: 3% 0 0 2%;
            font-family: 'Italianno', cursive;
            font-size: 6rem;
            z-index: 2;
            font-weight: lighter;
            line-height: 3rem;
           
        }
        }
    }
}