$p-font-size: 1rem;
$p-letter-spacing: 0.1em;

$p-font-size-small: 1rem;
$p-letter-spacing-small: 0.03em;
#skills{
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        flex-direction: row;
        margin: 4% 0 0 5%;
        width: 90%;
        height: max-content;
        gap: 30%;
        place-items: center;

        #display{
            display: flex;
            flex-direction: column;
            width: 40%;
            

            #dip{
                display: flex;
                flex-direction: row;
                 align-items: flex-end;
                 
                

                h3{
                    color: #FF800B;
                    font-weight: 400;
                    padding-right: 60px;
                    margin-bottom: 10px; 
                    
        
                }
                h1{
                    color:#B0B0B0;
                    font-size: 3rem;
                    font-weight: Bold;
    
                }
            }

            
            #case{
                align-self: flex-start;
                color:#B0B0B0;
                    font-size: 3rem;
                    font-weight: Bold;
            }
        }
        #abt{
            p {
                color: #5d5d5d;
                font-weight: 100;
                font-size: $p-font-size;
                letter-spacing: $p-letter-spacing;
              
                @media screen and (max-width: 768px) {
                  font-size: $p-font-size-small;
                  letter-spacing: $p-letter-spacing-small;
                }
            }
        }

    }

    .ccmain{
        display: flex;
        flex-direction: row;

        width: 85%;
        height: 75vh;
        margin: 10px 0 0 8%;
        justify-content: space-between;
        align-items: center;

        #content{
            margin-right: auto;
            width: 40%;
            height: 60vh;


            h3{
                color:#B0B0B0;
                    font-weight: 400;
                    padding-right: 60px;
                    margin-bottom: 10px; 
                    font-size: 1.6rem;
            }
            h1{
                color: #FF800B;
                font-size: 3rem;
                    font-weight: 300;

            }
        }
        #stack{
            margin-left: auto;
            width: 40%;
            height: 60vh;

            h3{
                color: #FF800B;

                    font-weight: 900;
            }
            

            .main{
                width: 100%;
                height: max-content;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                
                

                    

                #sst{
                    width: 12rem;
                    height: 6rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    

                    #colorbox{
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: #FF800B;
                    }
                    #colorline{
                        width: 2rem;
                        height: 1px;
                        background-color: orange;
                    }
                    #box{
                        height: 4rem;
                        width: 5rem;
                        display: flex;
                        place-items: center;
                        justify-content: center;
                        background-color: #5D5D5D;
                        border-radius: 10px;
                    }

                }
                
            }
            #footer{
                width: 35%;
                height: max-content;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
             
                
               


                section{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                   
                    

                    P{
                        font-size: 0.8rem;
                        color: #FF800B;
                        font-weight: 500;
                    }
                    #been{
                        color: #B0B0B0;
                    }
                    #learn{
                        color: #5D5D5D;
                    }

                    #colorbox{
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: #FF800B;
                    }
                    #colorline{
                        width: 2rem;
                        height: 1px;
                        background-color: orange;
                    }
                    #colorbox1{
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: #D9D9D9;
                    }
                    #colorline1{
                        width: 2rem;
                        height: 1px;
                        background-color: #D9D9D9;
                    }
                    #colorbox2{
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: #5D5D5D;
                    }
                    #colorline2{
                        width: 2rem;
                        height: 1px;
                        background-color: #5D5D5D;
                    }
                }
            }
        }
    }

    

  
}